img.d-block {
    height: 500px;
    object-fit: cover;
}
img.card-img-top {
    height: 200px;
    object-fit: cover;
}
img.cover-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.detail {
    box-shadow: -4px 2px 8px 9px #00000045;
    padding: 20px;
}
